.is-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-family: $font-family-secondary;
  font-weight: bold;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  background-color: $grey-light;

  &:hover {
    color: #fff;
    background-color: $blue;
  }

  &.only-icon {
    padding: 0.4rem;
    min-width: 29px;
  }

  & + & {
    margin-left: 18px;
  }

  i + span {
    padding-left: 8px;
  }

  &.right-aligned-icon {
    flex-direction: row-reverse;

    i + span {
      padding-left: 0;
      padding-right: 8px;
    }
  }
}

.is-btn-small {
  padding: 0.4rem 0.75rem;
  font-size: 0.7rem;
  line-height: 1.25;
  border-radius: 0.25rem;
}

.is-btn-dark {
  background-color: $grey-dark;
  color: $white;
}
