// colors
$grey-base: #555;
$grey-dark: #000;
$white: #fff;
$grey-light: #dbdbdb;
$lm-gray-light-02: #f2f4f7;
$lm-gray-mid-02: #757575;

$blue: #2867db;
$green: #0a7b44;
$red: #c9392c;

// statuses
$grade-green-light-01: #9ace49;
$grade-green-dark-02: #5d921c;
$grade-green-dark-01: #3d5f12;
$grade-yellow-mid: #efa818;
$grade-orange-mid: #ff1a00;
$rating-red: #e32b30;

// font
$font-family-primary: Arial, Helvetica, sans-serif;
$font-family-secondary: 'Lato', Helvetica, sans-serif;
$font-size-base: 16px;
